</span>
				</div>
			</td>
		</tr>
	</table>

												</td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
							<!-- end content -->
							
							<!-- start footer divider -->
							<tr>
								<td align="center" valign="bottom" style="line-height: 0; background-color: #fcfcfc" height="15">
									<img src="http://cdn1.hubspot.com/hub/74005/template_d_footer_divider.png" width="600" height="15" />
								</td>
							</tr>
							<!-- end footer divider -->
							
							<!-- start footer -->
							<tr>
								<td>
									<div align="center">
										<table cellpadding='0' cellspacing='0' border='0' width="600" style="background-color: #23272d; padding: 20px;" id="contact">
											<tr>
												<td style="font-size: 12px; line-height: 18.0px; font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#3d4146; color: #abb2bf">
    												<p>
														<strong style="font-size: 17px; color: #abb2bf">Luxdeparture</strong><br/>
														Copyright &copy; 2013 <a href="http://www.luxdeparture.com" style="color: #abb2bf">http://www.luxdeparture.com</a> <br />
														PO Box 26122<br />
														
														Wilmington, DE 19899-6122<br />
														+1 302 358 2284
													</p>
												</td>
												<td align="right">
													
														
												</td>
											</tr>
										</table>
									</div>
								</td>
							<tr>
							
							<!-- start bottom border -->
							<tr>
								<td align="center" valign="bottom" style="line-height: 0; background-color: #fcfcfc" height="4" >
									<img src="http://cdn1.hubspot.com/hub/74005/template_d_bottom_border.png" width="600" height="4" />
								</td>
							</tr>
							<!-- end bottom border -->
							
											
							<tr>
								<td>
									<div align="center">
										<table cellpadding='0' cellspacing='0' border='0'>
											<tr>
												<td align="left" id="footer" style="padding-top: 20px; font-size: 10px; line-height: 18.0px; font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color: #abb2bf">
													<p style="text-align: center;">
														 If you prefer not to receive emails from Luxdeparture you may <a href="mailto:unsubscribe@luxdeparture.com" style="color: #abb2bf">unsubscribe</a>.
													</p>
												</td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
							<!-- end footer -->
						</div>
					</table>
				</td>
			</tr>
        </table>
        
        <!-- end container -->

