</head>
<body bgcolor="#2c313a" style="margin: 0; padding: 0; background-color: #2c313a" marginheight="0" marginwidth="0" topmargin="0">

    <!-- Preview text (text which appears right after subject) -->
        
		<img id="hubspot-email-hidden-img" alt="Hi , Describe what you have to offer the customer. Why should they read? What ..." src="http://static.hubspot.com/img/trackers/blank001.gif" style="display: none!important; visibility: hidden; margin: 0px; padding: 0px;" width="1" height="1"/>
		
    <!-- start container -->
        
    <table bgcolor="#2c313a" style="background-color: #2c313a; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; padding-top: 10px; border-collapse: collapse;" cellpadding='0' cellspacing='0' border='0' width="100%">
		<tr>
			<td>
				<div align="center">
					<table cellpadding='0' cellspacing='0' border='0' width="600">
						<!-- start view as webpage section -->
							
						<!-- end view as webpage section -->
							
						<!-- start top border -->
						<tr>
							<td align="center" valign="bottom" style="line-height: 0; background-color: #fcfcfc" height="8">
								<img src="http://cdn1.hubspot.com/hub/74005/template_d_top_border.png" width="600" height="8" />
							</td>
						</tr>
						<!-- end top border -->
							
						<!-- start logo -->
						<tr style="background-color: #fcfcfc">
							<td>
								<div align="center">
									<table cellpadding='0' cellspacing='0' border='0' width="600">
										<tr>
											<td style="background-color: #fcfcfc; padding: 20px;">
													
													
													<a href="http://www.luxdeparture.com"> <img src="http://www.luxdeparture.com/assets/store/logo1.png" width="200" /></a>			
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
						<!-- end logo -->
						<!-- start content -->
						<tr>
							<td>
								<div align="center">
									<table cellpadding='0' cellspacing='0' border='0' width="600">
										<tr>
											<td>
													
<table cellpadding='0' cellspacing='0' border='0' width="100%">
    <tr>
		<td style="background-color: #ffffff; font-size: 12px; line-height: 18.0px; font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#3d4146; padding: 20px;">
			<div data-hubspot-form-id="emailbody" class="hubspot-editable">
				<span id="hs_cos_wrapper_email_body" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_rich_text" data-hs-cos-general-type="meta_field" data-hs-cos-type="rich_text">
<div id="logo">

</div>
